
*{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(152, 0, 190);

}

img{
    width: 100%;
    object-fit: cover;
}

.leaflet-container{
    z-index: 0 !important;
}

.header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.header .left{
    display: flex;
}
.header .right{
    display: flex;
}
