.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.35);
}


.loader {
    left: 50%;
    top: 35%;
    opacity: 1 !important;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: cornflowerblue cornflowerblue transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background-color: transparent;
    margin-left: -2.5rem;
}

.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent crimson crimson;
    width: 10ren;
    height: 10ren;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}


.loader::before {
    width: 4rem;
    height: 4rem;
    border-color: cornflowerblue #fff transparent transparent;
    animation: rotation 2s linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}